@using HRM.Entity;
@{
    ViewBag.Title = "Transportation";
}

<h2>Transportation</h2>


<div style="text-align: center" class="container">
    <h2>Transportation Management</h2> <hr />
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">

                            <li class="active dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Areas</a>
                                <ul class="dropdown-menu">
                                    @foreach(TransportArea area in ViewBag.areas)
                                    {
                                        <li>@Html.ActionLink(area.AreaName , "Area" , new { AreaId = area.TransportAreaId})</li>
                                    }
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
