
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{

    <div style="text-align: center" class="container">
        <h2>Assign Bonus to employee</h2> <hr />
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="form-horizontal">


                            <input type="number" value="@ViewBag.Id" name="EmpId" hidden />
                            Amount: <br />
                            <input type="text" name="BonusAmount" />
                            <br />
                            Reason:<br />
                            <input type="text" name="BonusReason" />
                            <br />

                            <div class="form-group">
                                <div >
                                    <input type="submit" value="Assign" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
}



    @*<!--assigning bonus whole div start-->
    <div class="row">
        <!--8 column for select criteria-->
        <div class="col-sm-8" id="AssingingBonusDetails">

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Select Department
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">It</a></li>
                    <li><a href="#">HR</a></li>
                    <li><a href="#">Pay Roll</a></li>
                </ul>
            </div>
            <br />

        </div>


        <!--4 column for selected employee lis for bonus-->
        <div class="col-sm-4" hidden>
            Selected Employee's <br />
            <div style="text-align:center" id="SelectedEmployeesIdForBonus"></div>

        </div>

    </div>

    <!--assgining bnus whole div ends-->*@

