@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<select>
    <option>Vendor</option>
</select>
<button>Add vendor</button>

<br /><br /><br />

<div>
    <label>Equipment provided by vendor</label>
    <br /><br /><br />
    <table></table>
    <br />
    <button>Add equipment</button>
    <br /><br /><br />
</div>

<div>
    <label>Transactions with the vendorr</label>
    <br /><br /><br />
    <table></table>
    <br />
    <button>Add transaction</button>
    <br /><br /><br />
</div>