
@{
    ViewBag.Title = "Index";
}

<html>
    <head>

    </head>
    <body>
        <input type="text" id="searchString" /> <button id="searchButton">Search</button><br />
        @*Make thhis display similar to employee display*@
    </body>
</html>

