
@{
    ViewBag.Title = "Transportation";
}

<h2>Transportation</h2>


    <div class="container-fluid">
        <ul class="nav navbar-nav">
            
            <li class="active dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Areas</a>
                <ul class="dropdown-menu">
                    @foreach(TransportArea area in ViewBag.areas)
                    {
                        <li>@Html.ActionLink(area.AreaName , "Area" , new { AreaId = area.TransportAreaId})</li>
                    }
                </ul>
            </li>
            
         </ul>
    </div>
