@page
@{
}

<input type='text'></input>&nbsp&nbsp<button>Search</button>
<br /><br />
Enroll into program
<div>
    <ul>
        <li>Program 1 <input type="checkbox"></input></li>
        <li>Program 2 <input type="checkbox" checked='true' disabled></input></li>
        <li>Program 3 <input type="checkbox" disabled></input></li>
    </ul>
</div>
<div float='right' right='0px' position='absolute'>
    Enrolled prograns
    <li>Program 2</li>
</div>
