@page
@model EvaluateTrainingModel
@{
}
<div>
    <label>Program 1</label>
    <table border='1px' width='100%'>
        <tbody>
        <th>Employee</th>
        <th>Task completion</th>
        <th>Writen Score</th>
        <th>Early completion bonus</th>
        </tbody>
    </table>
</div>
<br /><br />

<div>
    <label>Program 2</label>
    <table border='1px' width='100%'>
        <tbody>
        <th>Employee</th>
        <th>Task completion</th>
        <th>Writen Score</th>
        <th>Early completion bonus</th>
        </tbody>
    </table>
</div>
<br /><br />
<div>
    <label>Program 3</label>
    <table border='1px' width='100%'>
        <tbody>
        <th>Employee</th>
        <th>Task completion</th>
        <th>Writen Score</th>
        <th>Early completion bonus</th>
        </tbody>
    </table>
</div>
<br /><br />
