@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
}

<select>
    <option>Training</option>
</select>
<select>
    <option>Employee</option>
</select>
<br /><br />
<input ='text' />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<Button>Search</Button>
<br /><br />
<table border='1px' width="100%">
    <th>Employee</th>
    <th>Training Program</th>
    <th>Option</th>
</table>

<table border='1px' width="100%">
    <th>Training Program</th>
    <th>Employee</th>
    <th>Option</th>
</table>

