@model IEnumerable<HRM.Entity.Facade.ProjectAndAllAssociatedEmployees>

@{
    ViewBag.Title = "Index";
}

<h1>Select Project</h1>
<br />
<br />
@foreach (var entity in Model)
{
    @Html.Display(entity.ProjectId.ToString())
    @Html.ActionLink(entity.ProjectId + " " + entity.ProjectTitle, "ShowProject", new { id = entity.ProjectId })
    <br />
}

