@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div border='20px'>
    <button>Legal reports</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button>Terms and Policies</button>
</div>
<br /><br /><br />
<div id='empty_div'>
    Empty div containing respective legal reports... A sample given below
    <div border='10 sp'><button>Parties Involved</button></div>
</div>