
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <form action="/Login/VerifyUser" method="post">
        UserId: <br />
        <input type="text" placeholder="121" name="Id" />
        <br />
        <br />
        Password: <br />
        <input type="password" placeholder="3212121" name="Password" />
        <br />
        <button type="submit">Log in</button>
    </form>
</div>

