@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<select>
    <option>Area</option>
</select>
<br/>
<div id="empty_div">
    <label>Number of employees : </label><label id="number_of_employees">50</label>&nbsp;
    &nbsp;&nbsp;&nbsp;<label>Transport capacity assigned</label><label id="area_transport_capacity">20/50</label>&nbsp;&nbsp;
    <br /><br /><br />
    <label>Transports assigned to the area: </label>
    <br />
    <div>
        <label>Trasnport Name</label>&nbsp;&nbsp;&nbsp;<label>Transport Type and model</label> (capacity: <label>20</label>)
    </div>
</div>
<br /><br /><br /><br /><br />
<button>Add Transport</button>
